.aboutContainer{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    margin-bottom: 4rem;
}
.aboutImage{
    height: 30rem;
    overflow: hidden;
    object-fit: fill;
    display: grid;
    place-items: center;
    opacity: 0;
    animation: identifier 2s ease forwards;
}
@keyframes identifier {
    to{
        opacity: 1;
    }
}

.aboutContent p{
  margin-top: 0.8rem;
  font-size: 18px;
}
.aboutCta{
    display: inline-block;
    margin-top: 2.5rem;
}


@media screen and (max-width: 600px) {
    .aboutContainer{
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
}

.header {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/slid3.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 7rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.headerText {
    z-index: 2; 
    color: white; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.line{
    width: 400px;
    height: 2px;
    background: white;
}


.headerText h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}
.headerText p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 20px;
}

.headerCta{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}

/* misson cards */

.bigContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.title{ 
    text-align:center; 
    font-size:32px; 
    text-transform:uppercase; 
    font-weight:bold
}


.catalogCon { 
    background: #fff;
    box-shadow: 
        0 6px 15px rgba(0, 0, 0, 0.15), inset 0 2px 5px #0000000d;
    transition: all ease-in 0.3s;
    width: 330px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 1rem 0.5rem;
}

.catalogText {
    padding:10px;
    font-size: 25px;
    color: #35B729;
    font-weight: bold;
}
.catalogCon h3{
    font-size: 16px;
    color: grey;
    line-height: 1.2;
}

@media screen and (max-width: 600px) {
   
   .section{
    margin-top: -7rem;
  
}
    .bigContainer{
        display: flex;
        flex-direction: column;
      
    }    
    .productText{ 
        text-align:center; 
        line-height:20px; 
        color:#8b8b8b; 
        width:300px; 
        
    }
    .catalogCon { 
    width: 350px;
   
}
}


@media screen and (max-width: 600px) {
   .header{
    margin-top: 1rem;
   }
    .headerText h1{
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
    }
    .headerText h2{
        font-size: 1.5rem;
    }
    .headerText p{
        font-size: 17px;
    }
   
}